html, body, .block {
  height: 100%; }

.brand-logo {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 15px; }

.icon-size-nav {
  font-size: 2.3em; }

nav {
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 30;
  -webkit-box-shadow: none;
  box-shadow: none; }

.particles-main {
  width: 100vw;
  height: 100vh; }

.particles-pinned {
  position: fixed !important;
  top: calc(-100vh + 64px) !important;
  bottom: initial !important; }

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(34, 77, 170, 0.9); }

#intro-title {
  left: 50%;
  position: absolute;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #fff; }

#intro-paragraph {
  display: none;
  left: 50%;
  position: absolute;
  top: 57%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 200;
  padding: 4em;
  background-color: rgba(34, 34, 34, 0.7); }

.card {
  color: black; }

.hidden {
  display: none; }

#skills {
  padding-top: 90px;
  padding-bottom: 90px; }
  #skills h2 {
    font-size: 4.2rem;
    color: #224daa; }
  #skills .col i {
    font-size: 5em; }
  #skills .col h5 {
    font-weight: 500; }
  #skills .col p {
    font-weight: 300; }
    #skills .col p i {
      font-size: 17px; }
    #skills .col p b {
      color: rgba(34, 77, 170, 0.9); }

#projects {
  background: #224daa;
  color: white;
  padding-top: 60px;
  padding-bottom: 80px; }

#contact {
  padding-top: 150px;
  padding-bottom: 80px; }

/*===========height===========*/
@media only screen and (max-height: 850px) {
  #intro-paragraph {
    padding: 2.2em; } }

@media only screen and (max-height: 580px) {
  #intro-paragraph {
    padding: 1.2em !important;
    top: 60%; }
  #intro-title {
    top: 35%; } }

/*===========WIDTH===========*/
@media only screen and (max-width: 920px) {
  #intro-paragraph {
    padding: 2.2em; } }

@media only screen and (max-width: 580px) {
  #intro-paragraph {
    padding: 1.2em;
    left: 10%;
    -webkit-transform: translate(-3%, -50%);
    -moz-transform: translate(-3%, -50%);
    -ms-transform: translate(-3%, -50%);
    transform: translate(-3%, -50%); } }

@media only screen and (max-width: 430px) {
  #skills h2 {
    font-size: 3.4em; } }

@media only screen and (max-width: 360px) {
  #intro-title {
    font-size: 3em; } }
