html, body, .block {
	height: 100%;
 }

// Class for when element is above threshold
.pin-top {
position: relative;
}

// Class for when element is below threshold
.pin-bottom {
position: relative;
}

// Class for when element is pinned
.pinned {
position: fixed !important;
}

.brand-logo{
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-left: 15px;
}

.icon-size{
	font-size: 2.3em;
}

.blue-cool{
	background-color: #222;
}
.no-color{
	background: rgba(34, 34, 34,0.7);
}

#particles {
	width: 100%;
	height: 100%;
	overflow: hidden;
	//position: relative;
	background:  rgba(34, 77, 170,0.9);
}

#intro-title {
	left: 50%;
	position: absolute;
	top: 20%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-weight: 300;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #fff;
}

#intro-paragraph {
	left: 50%;
	position: absolute;
	top: 37%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color : white;
	font-weight: 100;
}
@media only screen and (max-width: 992px){
	.name-size
	{
		//margin: 50% auto;
	}
}