html, body, .block {
  height: 100%; }

.pin-top {
  position: relative; }

.pin-bottom {
  position: relative; }

.pinned {
  position: fixed !important; }

.brand-logo {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 15px; }

.icon-size {
  font-size: 2.3em; }

.blue-cool {
  background-color: #3367D6; }

#particles-js {
  width: 100%;
  height: 100%;
  background: rgba(34, 77, 170, 0.9); }
