html, body, .block {
  height: 100%; }

.pin-top {
  position: relative; }

.pin-bottom {
  position: relative; }

.pinned {
  position: fixed !important; }

.brand-logo {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 15px; }

.icon-size {
  font-size: 2.3em; }
