!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		%meta{content:"Roberto Gervacio, ITC, Ingeniería Tecnologías Cómputo", name: "keywords"}
		%meta{content:"Futuro Ingeniero en Tecnologías de Cómputo", name: "description"}
		%meta{content:"Roberto Gervacio", name:"author"}
		%meta{content:"Roberto Gervacio", name:"owner"}
		%meta{content:"index/follow", name:"robots"}
		%meta{name:"theme-color", content:"#2E5EC6"}
		-#%link{rel:"shortcut icon", type:"image/x-icon", href:"images/favicon.ico"}/
		%link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", media: "screen,projection"}/
		%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"}/
		%link{rel:"stylesheet", href:"css/styles.css"}/
		%link{:rel => "stylesheet", :href => "css/style-cards.css"}/
		%title Roberto Gervacio
	%body
		#home.block
			.index-first
				#particles
				%nav
					.nav-wrapper.container
						%ul.left
							%li
								%a.icon-size-nav{:href => "https://github.com/robtry", :target => "_blank"} <i class="fa fa-github"></i>
							%li
								%a.brand-logo.to-home{:href => "#home"} Roberto
						%ul.right.hide-on-med-and-down#nav-mobile-1
							%li
								%a.to-skills{:href => "#skills"} Habilidades
							%li
								%a.to-projects{:href => "#projects"} Proyectos
							%li
								%a.to-contact{:href => "#contact"} Contacto
				%h1#intro-title Roberto
				%p#intro-paragraph.flow-text ¡Hola! soy Roberto Gervacio, futuro Ingeniero en Tecnologías de Cómputo. Tengo experiencia en desarrollo Frontend, Backend, de Aplicaciones Nativas y Web. Puedes ver mis proyectos
		#skills
			%h2.center <i class="fa fa-puzzle-piece"></i> Habilidades
			%br/
			%br/
			.container
				.row.center
					.col.s12.m4.hoverable
						%i.fa.fa-git-square
						%h5.truncate Controlador de versiones
						%p Uso de Git y <a href = "https://github.com/robtry" target = "_blank"> GitHub </a> para trabajar en <b> equipo </b> y tener un control sobre los proyectos.
					.col.s12.m4.hoverable
						%i.fa.fa-code
						%h5.truncate Código limpio
						%p Cada proyecto esta escrito con la <b> estantarización </b> y convención de su lenguaje.
					.col.s12.m4.hoverable
						%i.fa.fa-laptop
						%h5.truncate Siempre responsivo
						%p Diseño web es responsivo, es decir, se <b> adapta </b> a cualquier dispositivo.
				.row.center
					.col.s12.m4.hoverable
						%i.fa.fa-paint-brush
						%h5.truncate Diseño armonico
						%p Cada proyecto es <b> único </b> y adaptado a las necesidades y requerimientos s.
					.col.s12.m4.hoverable
						%i.fa.fa-server
						%h5.truncate Universalidad
						%p Desarrollo para <b> todos </b> los sistemas operativos <i class="fa fa-apple"></i> <i class="fa fa-android"></i> <i class="fa fa-linux"></i> <i class="fa fa-windows"></i>
					.col.s12.m4.hoverable
						%i.fa.fa-database
						%h5.truncate Base de Datos
						%p <b> Gestión </b> de base de datos SQL, adaptando la normalización y persistencia de datos.
		#projects
			%h2.center <i class="fa fa-folder-open"></i> Proyectos
			.container
				-# .row.center
				-# 	.col.s12.m6.l4
				-# 		.team
				-# 			%article.material-card
				-# 				%h2.blue
				-# 					%span.truncate Roberto Gervacio
				-# 					%strong.truncate.mc-title
				-# 						%span.trun  FullStack
				-# 				.mc-content.blue.lighten-1
				-# 					.img-container
				-# 						%img.responsive-img.white{src:"images/login/roberto.jpg"}
				-# 					.mc-description.white-text
				-# 						%span Futuro ingeniero en tecnologías de cómputo, apasionado por Linux y el código libre
				-# 				%a.mc-btn-action.blue.lighten-2.z-depth-3.hoverable
				-# 					%i.material-icons menu
				-# 				.mc-footer.blue.lighten-3
				-# 					%a.center-align.blue.lighten-1{href:"https://github.com/robtry", target:"_blank"}
				-# 						%img{src:"images/login/git.png"}
				.row.center
					.col.s12.m3.offset-m3
						.card
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/gh.png", :alt => ""}/
							.card-content
								%span.card-title.activator GliphyHub <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title GliphyHub  <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Ruby on Rails </b>
								%p Plataforma dedicada al ámbito estudiantil, que mantiene comunicación entre profesores, directivos y alumnos
					.col.s12.m3
						.card.waves-effect.waves-teal
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/algorithm.png", :alt => ""}/
							.card-content
								%span.card-title.activator Problemas <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title Problemas <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Java, C y C++ </b>
								%p Solución de algunos problemas de coj y uva
				.row.center
					.col.s12.m3
						.card.waves-effect.waves-teal
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/inmypocket.png", :alt => ""}/
							.card-content
								%span.card-title.activator InMyPocket <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title InMyPocket <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Visual Basic </b>
								%p Interfaz para guardar información sobre los gastos de un hogar, y así tener un control
					.col.s12.m3
						.card.waves-effect.waves-teal
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/droncamera.png", :alt => ""}/
							.card-content
								%span.card-title.activator DronCam <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title DronCam <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Objective C </b>
								%p Aplicación para iOS que permite acceder a la cámara de un dron de la marca DJI
					.col.s12.m3
						.card.waves-effect.waves-teal
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/w2b.png", :alt => ""}/
							.card-content
								%span.card-title.activator W2B <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title W2B <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Ruby on Rails </b>
								%p Aplicación web para tener un control sobre las cosas que necesitas en un evento.
					.col.s12.m3
						.card.waves-effect.waves-teal
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/tablasdeverdad.png", :alt => ""}/
							.card-content
								%span.card-title.activator TablaVerdad <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title TablaVerdad <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Java </b>
								%p Interfaz que genera tabla de verdad a partir de premisas ingresadas
					.col.s12.m3
						.card.waves-effect.waves-teal
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/rollaball.png", :alt => ""}/
							.card-content
								%span.card-title.activator Roll a ball <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title Roll a ball <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Unity(C#) </b>
								%p Minijuego consiste en comer cuadritos con una pelotita
					.col.s12.m3
						.card.waves-effect.waves-teal
							.card-image.container.waves-effect.waves-teal
								%img.activator{:src => "images/nomina.png", :alt => ""}/
							.card-content
								%span.card-title.activator MiNómina <i class = "right fa fa-angle-double-up"></i>
								%p
									%a{:href => ""} Ver más
							.card-reveal
								%span.card-title MiNómina <i class = "right fa fa-angle-double-down"></i>
								%p Lenguaje: <b> Java </b>
								%p [Experimental] Interfaz para llevar el control de pagos de nómina
		#contact
			%h2.center  <i class = "fa fa-whatsapp"></i> Contacto
			.row.contact
				.col.m4.s12.offset-m4
					.row
						.col.s3
							%a{:href => "/", :target =>"_blank"} <i class="hoverable fa fa-github"> </i>
						.col.s3
							%a{:href => "/", :target =>"_blank"} <i class="hoverable fa fa-stack-overflow"> </i>
						.col.s3
							%a{:href => "/", :target =>"_blank"} <i class="hoverable fa fa-linkedin"> </i>
						.col.s3
							%a{:href => "/", :target =>"_blank"} <i class="hoverable fa fa-instagram"> </i>
	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.2.1.min.js"}
	%script{type:"text/javascript", src:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
	%script{type:"text/javascript", src:"js/main.js"}
	%script{type:"text/javascript", src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
	%script{type:"text/javascript",src:"js/particles.js"}
