!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		%meta{content:"Roberto Gervacio, ITC, Ingeniería Tecnologías Cómputo", name: "keywords"}
		%meta{content:"Futuro Ingeniero en Tecnologías de Cómputo", name: "description"}
		%meta{content:"Roberto Gervacio", name:"author"}
		%meta{content:"Roberto Gervacio", name:"owner"}
		%meta{content:"index/follow", name:"robots"}
		%meta{name:"theme-color", content:"#2E5EC6"}
		-#%link{rel:"shortcut icon", type:"image/x-icon", href:"images/favicon.ico"}/
		%link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", media: "screen,projection"}/
		%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"}/
		%link{rel:"stylesheet", href:"css/styles.css"}/
		%title Roberto Gervacio
	%body
		#home.block
			.index-first
				#particles
				%nav
					.nav-wrapper.container
						%ul.left
							%li
								%a.icon-size-nav{:href => "https://github.com/robtry", :target => "_blank"} <i class="fa fa-github"></i>
							%li
								%a.brand-logo.to-home{:href => "#home"} Roberto
						%ul.right.hide-on-med-and-down#nav-mobile-1
							%li
								%a.to-skills{:href => "#skills"} Habilidades
							%li
								%a.to-projects{:href => "#projects"} Proyectos
							%li
								%a.to-contact{:href => "#contact"} Contacto
				%h1#intro-title Roberto
				%p#intro-paragraph.flow-text ¡Hola! soy Roberto Gervacio, futuro Ingeniero en Tecnologías de Cómputo. Tengo experiencia en desarrollo FullStack , de Aplicaciones Nativas y Web. Puedes ver algunos de <a class="to-projects" href = "#projects"> mis proyectos <i class="fa fa-arrow-right"></i></a>
		#skills
			%h3.center <i class="fa fa-puzzle-piece"></i> Habilidades
			%br/
			%br/
			.container
				.row.center
					.col.s12.m4.hoverable
						%i.fa.fa-git-square
						%h5.truncate Controlador de versiones
						%p Uso de Git y <a href = "https://github.com/robtry" target = "_blank"> GitHub </a> para trabajar en <b> equipo </b> y tener un control sobre los proyectos.
					.col.s12.m4.hoverable
						%i.fa.fa-code
						%h5.truncate Código limpio
						%p Cada proyecto esta escrito con la <b> estantarización </b> y convención de su lenguaje.
					.col.s12.m4.hoverable
						%i.fa.fa-laptop
						%h5.truncate Siempre responsivo
						%p Diseño web es responsivo, es decir, se <b> adapta </b> a cualquier dispositivo.
				.row.center
					.col.s12.m4.hoverable
						%i.fa.fa-paint-brush
						%h5.truncate Diseño armonico
						%p Cada proyecto es <b> único </b> y adaptado a las necesidades y requerimientos s.
					.col.s12.m4.hoverable
						%i.fa.fa-server
						%h5.truncate Universalidad
						%p Desarrollo para <b> todos </b> los sistemas operativos <i class="fa fa-apple"></i> <i class="fa fa-android"></i> <i class="fa fa-linux"></i> <i class="fa fa-windows"></i>
					.col.s12.m4.hoverable
						%i.fa.fa-database
						%h5.truncate Base de Datos
						%p <b> Gestión </b> de base de datos SQL, adaptando la normalización y persistencia de datos.
		#projects
			%h3.center <i class="fa fa-folder-open"></i> Proyectos
			%br/
			%br/
			.container
				.row.center
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate GliphyHub
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/gh.png"}
									.mc-description
										%span Lenguaje: <b> Ruby on Rails </b> </br> Plataforma dedicada a la comunicación entre profesores, directivos y alumnos
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/gliphyhub", :target =>"_blank"} Ver más
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate Problemas coj
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/algorithm.png"}
									.mc-description
										%span Lenguaje: <b> Java </b> </br> Solución de algunos problemas coj
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/robtry/coj-problems", :target =>"_blank"} Ver más
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate Problemas uva
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/algorithm2.png"}
									.mc-description
										%span Lenguaje: <b> C y C++ </b> </br> Solución de algunos problemas uva
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/robtry/uva-problems", :target =>"_blank"} Ver más
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate In My Pocket
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/inmypocket.png"}
									.mc-description
										%span Lenguaje: <b> Visual Basic </b></br> Interfaz para llevar un presupuesto de gastos en el hogar
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/robtry/inmypocket", :target =>"_blank"} Ver más
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate Dron Camera
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/droncamera.png"}
									.mc-description
										%span Lenguaje: <b> Objective C </b></br> Aplicación para iOS que permite acceder a la cámara de un dron de la marca DJI
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/robtry/droncamera", :target =>"_blank"} Ver más
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate W2B
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/w2b.png"}
									.mc-description
										%span Lenguaje: <b> Ruby on Rails </b></br>Aplicación web para controlar el inventario de un evento cooperativo.
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/robtry/w2b", :target =>"_blank"} Ver más
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate Roll a ball
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/rollaball.png"}
									.mc-description
										%span Lenguaje: <b> Unity(C#) </b></br>Minijuego consiste en comer cuadritos con una pelotita
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/robtry/Rol-a-Ball", :target =>"_blank"} Ver más
					.col.s12.m6.l4
						.team
							%article.material-card
								%h2.azul
									%strong.truncate.mc-title
										%span.truncate Mi Nómina
								.mc-content
									.img-container
										%img.responsive-img.white{src:"images/nomina.png"}
									.mc-description
										%span Lenguaje: <b> Java </b></br> [Experimental] Interfaz para llevar el control de pagos de nómina
								%a.mc-btn-action.azul.z-depth-3.hoverable
									%i.fa.fa-bars
								.mc-footer.azul
									%a{:href => "https://github.com/Equipo-Fundamentos", :target =>"_blank"} Ver más
		-# .parallax-container
		-# 	.row.valing-wrapper.center
		-# 		.col.s12
		-# 			%h1 hola mundo
		-# 		.parallax
		-# 			%img{src:"images/desk.jpeg"}
		#contact
			%h3.center  <i class = "fa fa-whatsapp"></i> Contacto
			.row.contact
				.col.m4.s12.offset-m4
					.row
						.col.s3
							%a{:href => "https://github.com/robtry", :target =>"_blank"} <i class="hoverable fa fa-github"> </i>
						.col.s3
							%a.tooltipped{:data=>{:position=>"top",:delay=>"50",:tooltip=>"rgg.correo@gmail.com"}} <i class="hoverable fa fa-envelope"> </i>
						.col.s3
							%a{:href => "/", :target =>"_blank"} <i class="hoverable fa fa-linkedin"> </i>
						.col.s3
							%a{:href => "https://www.instagram.com/rob.gg/", :target =>"_blank"} <i class="hoverable fa fa-instagram"> </i>
	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.2.1.min.js"}
	%script{type:"text/javascript", src:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
	%script{type:"text/javascript", src:"js/main.js"}
	%script{type:"text/javascript", src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
	%script{type:"text/javascript",src:"js/particles.js"}
