!!!5
%html{lang: "es"}
	%head
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset:"UTF-8"}
		%meta{content:"Roberto Gervacio, ITC, Ingeniería Tecnologías Cómputo", name: "keywords"}
		%meta{content:"Futuro Ingeniero en Tecnologías de Cómputo", name: "description"}
		%meta{content:"Roberto Gervacio", name:"author"}
		%meta{content:"Roberto Gervacio", name:"owner"}
		%meta{content:"index/follow", name:"robots"}
		%meta{name:"theme-color", content:"#2E5EC6"}
		%link{rel:"shortcut icon", type:"image/x-icon", href:"images/favicon.ico"}/
		%link{rel:"stylesheet", href:"css/materialize.css", media: "screen,projection"}/		
		%link{rel:"stylesheet", href:"css/styles.css"}/
		%title Roberto Gervacio
	%body

	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.2.1.min.js",integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin:"anonymous"}
	-#%script{src:"http://jnicol.github.io/particleground/js/jquery.particleground.js"}
	%script{type:"text/javascript", src:"js/materialize.js"}